## Web Scraping
#### Instructions
Write a web scraping script in Python using the key word 'Data Scientist' and parse this data into either an XML or JSON file. Perform the web scraping with the beautifulsoup4 and Request program modules.

Share your findings in the Module Wiki. You should also comment on your peersâ€™ wiki posts. Review the Department page for more information on peer review/feedback.

In [111]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [113]:
url = 'https://365datascience.com/career-advice/data-science-salaries-around-the-world/'

In [115]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
tds = soup.find_all('td')

In [116]:
data = []
row = []

for td in tds:
    text = td.get_text(strip=True)
    if not text:
        continue
    row.append(text)

    if len(row) in [2]:
        data.append(row)
        row = []

In [119]:
limited_rows = data[:6]
df = pd.DataFrame(limited_rows[1:], columns=data[0])
df.head(10)

  Country/City Average Total Salary with Additional Pay (USD)
0           US                                       $156,790
1      Germany                                        $85,115
2           UK                                        $79,978
3       Canada                                        $73,607
4        India                                        $16,759

In [121]:
df.to_json("country_salary.json", orient="records", indent=2)